* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  display: none;
}
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(200deg, white, springgreen);
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-app {
  background-color: white;
  width: 60%;
  border-radius: 20px;
}
.header {
  width: 100%;
  font-size: 12px;
  margin: 10px auto auto 20px;
}
.btn {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn input {
  padding: 20px;
  border-radius: 30px;
  border: none;
  background-color: springgreen;
  color: black;
  outline: none;
  font-weight: bold;
  font-size: 18px;
}
.list-container {
  display: flex;
  justify-content: center;
}
.list-container .lists {
  margin-top: 30px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.headline {
  width: 100%;
  font-size: 18px;
}
.list-container .lists .list-icon {
  text-align: center;
}

.list-container .lists .list li {
  width: 100%;
  font-size: 16px;
  list-style: none;
  text-align: center;
  line-height: 40px;
}
.list-container .lists .list-icon i {
  font-size: 16px;
  list-style: none;
  text-align: center;
  line-height: 40px;
}
.new-task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-input-container {
  display: none;
  position: relative;
  margin-top: -620px;
  background-color: white;
  width: 60%;
  padding: 30px;
  border-radius: 20px;
  z-index: 2;
}
.task-input-container .icon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
}
.task-input-container .task-inputs {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-input-container .task-inputs label {
  flex: 0.2;
  font-size: 16px;
}
.task-input-container .task-inputs input {
  background-color: rgb(203, 255, 203);
  color: black;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  flex: 1;
}

.btn .add-task-btn {
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: springgreen;
  color: black;
  outline: none;
  font-weight: 500;
  font-size: 15px;
}
