* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.overlay{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg,rgb(89, 0, 255),rgb(128, 74, 255),rgb(89, 0, 255));
}
.todo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 20px;
    background-color: white;
}
.todo-app button{
    margin: 20px 0px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: blueviolet;
    color: white;
    font-size: 15px;
}
.list-heading{
    margin: 0px 0px 20px;
    background-color: lavender;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.list-items{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-items .task{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(238, 218, 255, 0.582);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-items .task li{
    list-style: none;
}
.list-items .task i{
    position: relative;
    right: 10px;
}
.list-items .task i:last-child{
    position: relative;
    right: 25px;
}
.add-task-app{
    display: none;
}
.add-task-container{
    position: relative;
    width: 80%;
    margin: -450px auto ;
    border-radius: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.add-task-container i{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 23px;
}
.add-task-container h2{
    margin: 10px auto;
}
.add-task-container .task-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 10px;   
}
.add-task-container .task-input input{
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: lavender;
}
.add-task-container .task-input label{
    flex: 0.2;
}
.add-task-container .add-task-btn{
    margin: 20px 0px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: blueviolet;
    color: white;
    font-size: 15px;   
}
